<!-- templates/cats/index.html -->
<!DOCTYPE html>
<html>

<head>
    <title>catcollector</title>
</head>

<body>
    <h1>the catcollector's cats</h1>
    <hr /> {% extends 'base.html' %} {% load static %} {% block content %} {% for cat in cats %}
    <a href="/cats/{{cat.id}}">
        <p>Name: {{ cat.name }}</p>
        {% if cat.age > 0 %}
        <p>Age: {{ cat.age }}</p>
        {% else %}
        <p>Age: Kitten</p>
        {% endif %}
    </a>
    <hr /> {% endfor %} {% endblock %}
    <footer>All Rights Reserved, catcollector 2018</footer>
</body>

</html>